<html>
<head>
<style>
body {
	font-family: "Input Mono", sans-serif;
}
table {
	text-align: left;
	border-collapse: collapse;
}
table, th, td {
	border-left: 1px solid black;
	padding-left: 6px;
	padding-right: 12px;
}
tr:first-child {
	font-weight: bold;
	border-bottom: 1px solid black;
}
td:first-child {
	font-weight: bold;
	font-style: italic;
}
</style>
</head>
<body>
	<table>
		{{ range $i, $r := . }}
		<tr>
			{{ range $j, $c := $r }}
				<td> {{ . }} </td>
			{{ end }}
		</tr>
		{{ end }}
	</table>
</body>
</html>
